@model Net_CampMyProject.Data.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <input asp-for="ImgUrl" class="form-control" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story" class="control-label"></label>
                <input asp-for="Story" class="form-control" />
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Languages" class="control-label"></label>
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Awards" class="control-label"></label>
                <input asp-for="Awards" class="form-control" />
                <span asp-validation-for="Awards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxOffice" class="control-label"></label>
                <input asp-for="BoxOffice" class="form-control" />
                <span asp-validation-for="BoxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nominations" class="control-label"></label>
                <input asp-for="Nominations" class="form-control" />
                <span asp-validation-for="Nominations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
    function loadFrame(){
        document.getElementById('frame').scrollTop = 310;
        document.getElementById('frame').scrollLeft = 40;
        var f = window.frames["f"].contentWindow.location.href;
    }
</script>
<body onload="loadFrame()">
 
<div id="frame">

    <iframe src="@Model.WikiUrl" width="1100" height="1000" scrolling="yes"></iframe>
</div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

